// inject:settings
@import "../styleguide/sass/00-settings/_colors.scss";
@import "../styleguide/sass/00-settings/_reset.scss";
@import "../styleguide/sass/00-settings/_vars.scss";
// endinject

$styleguide-dir: '../styleguide';

// inject:mixins
@import "../styleguide/sass/00-mixins/breakpoints/_breakpoints.scss";
@import "../styleguide/sass/00-mixins/general/_mixins.scss";
@import "../styleguide/sass/00-mixins/grid/_grid.scss";
@import "../styleguide/sass/00-mixins/grid/_responsive-utilities.scss";
@import "../styleguide/sass/00-mixins/link/_link.scss";
@import "../styleguide/sass/00-mixins/opening-hours/_opening-hours.scss";
@import "../styleguide/sass/00-mixins/svg/_spot-images.scss";
@import "../styleguide/sass/00-mixins/svg/_svg-icons.scss";
@import "../styleguide/sass/00-mixins/themify/_themify.scss";

// endinject

// inject:base
@import "../styleguide/sass/11-base/base/_base.scss";
@import "../styleguide/sass/11-base/base/_helper-classes.scss";
@import "../styleguide/sass/11-base/base/_invisible.scss";
@import "../styleguide/sass/11-base/boxes/_boxes.scss";
@import "../styleguide/sass/11-base/containers/_containers.scss";
@import "../styleguide/sass/11-base/forms/_forms.scss";
@import "../styleguide/sass/11-base/grid/_grid.scss";
@import "../styleguide/sass/11-base/fonts/_fonts.scss";
@import "../styleguide/sass/11-base/fonts/_icons.scss";
@import "../styleguide/sass/11-base/section/_section.scss";
// endinject

// inject:atoms
@import "../styleguide/sass/21-atoms/accolade/_accolade.scss";
@import "../styleguide/sass/21-atoms/button/_button.scss";
@import "../styleguide/sass/21-atoms/day-widget/_day-widget.scss";
@import "../styleguide/sass/21-atoms/field-message/_field-message.scss";
@import "../styleguide/sass/21-atoms/fieldset/_fieldset.scss";
@import "../styleguide/sass/21-atoms/figcaption/_figcaption.scss";
@import "../styleguide/sass/21-atoms/file/_file.scss";
@import "../styleguide/sass/21-atoms/heading/_heading.scss";
@import "../styleguide/sass/21-atoms/image/_image.scss";
@import "../styleguide/sass/21-atoms/input/_input.scss";
@import "../styleguide/sass/21-atoms/input-submit/_input-submit.scss";
@import "../styleguide/sass/21-atoms/label/_label.scss";
@import "../styleguide/sass/21-atoms/link/_link.scss";
@import "../styleguide/sass/21-atoms/list/_list.scss";
@import "../styleguide/sass/21-atoms/logo/_logo.scss";
@import "../styleguide/sass/21-atoms/paragraph/_paragraph.scss";
@import "../styleguide/sass/21-atoms/pubdate/_pubdate.scss";
@import "../styleguide/sass/21-atoms/select/_input-select.scss";
@import "../styleguide/sass/21-atoms/skiplink/_skiplink.scss";
@import "../styleguide/sass/21-atoms/spinner/_spinner.scss";
@import "../styleguide/sass/21-atoms/tag/_tag.scss";
@import "../styleguide/sass/21-atoms/textarea/_textarea.scss";
@import "../styleguide/sass/21-atoms/table/_table.scss";
@import "../styleguide/sass/21-atoms/button/css/_button-alert.scss";
@import "../styleguide/sass/21-atoms/button/css/_button-primary.scss";
@import "../styleguide/sass/21-atoms/button/css/_button-secondary.scss";
@import "../styleguide/sass/21-atoms/button/css/_button-success.scss";
@import "../styleguide/sass/21-atoms/heading/css/_collection-title.scss";
@import "../styleguide/sass/21-atoms/heading/css/_heading-1.scss";
@import "../styleguide/sass/21-atoms/heading/css/_heading-2.scss";
@import "../styleguide/sass/21-atoms/heading/css/_heading-3.scss";
@import "../styleguide/sass/21-atoms/heading/css/_heading-4.scss";
@import "../styleguide/sass/21-atoms/heading/css/_overview-title.scss";

// inject:molecules
@import "../styleguide/sass/31-molecules/breadcrumbs/_breadcrumbs.scss";
@import "../styleguide/sass/31-molecules/contact-block/_contact-block.scss";
@import "../styleguide/sass/31-molecules/accordion/_accordion.scss";
@import "../styleguide/sass/31-molecules/checkbox-with-filter/_checkbox-with-filter.scss";
@import "../styleguide/sass/31-molecules/contact-details/_contact-details.scss";
@import "../styleguide/sass/31-molecules/figure/_figure.scss";
@import "../styleguide/sass/31-molecules/file-download/_file-download.scss";
@import "../styleguide/sass/31-molecules/crisis-communication-block/_crisis-communication-block.scss";
@import "../styleguide/sass/31-molecules/form-actions/_form-actions.scss";
@import "../styleguide/sass/31-molecules/form-item/_form-item.scss";
@import "../styleguide/sass/31-molecules/form-row/_form-row.scss";
@import "../styleguide/sass/31-molecules/form-steps/_form-steps.scss";
@import "../styleguide/sass/31-molecules/gentinfo/_gentinfo.scss";
@import "../styleguide/sass/31-molecules/cta-block/_cta-block.scss";
@import "../styleguide/sass/31-molecules/mijn-gent-block/_mijn-gent-block.scss";
@import "../styleguide/sass/31-molecules/display-switcher/_display-switcher.scss";
@import "../styleguide/sass/31-molecules/pagination/_pagination.scss";
@import "../styleguide/sass/31-molecules/quote/_quote.scss";
@import "../styleguide/sass/31-molecules/file-upload/_file-upload.scss";
@import "../styleguide/sass/31-molecules/search/_search.scss";
@import "../styleguide/sass/31-molecules/social-list/_social-list.scss";
@import "../styleguide/sass/31-molecules/modal/_modal.scss";
@import "../styleguide/sass/31-molecules/subscribe/_subscribe.scss";
@import "../styleguide/sass/31-molecules/menu/_menu.scss";
@import "../styleguide/sass/31-molecules/tabs/_tabs.scss";
@import "../styleguide/sass/31-molecules/readspeaker-button/_readspeaker-button.scss";
@import "../styleguide/sass/31-molecules/video/_video.scss";
@import "../styleguide/sass/31-molecules/status-message/_status-message.scss";
@import "../styleguide/sass/31-molecules/table-of-contents/_table-of-contents.scss";
@import "../styleguide/sass/31-molecules/week-month-widget/_week-month-widget.scss";
@import "../styleguide/sass/31-molecules/teaser/_teaser.scss";

// endinject

// inject:organisms
@import "../styleguide/sass/41-organisms/document-box/_document-box.scss";
@import "../styleguide/sass/41-organisms/extra-articles/_extra-articles.scss";
@import "../styleguide/sass/41-organisms/feedback-form/_feedback-form.scss";
@import "../styleguide/sass/41-organisms/footer/_footer.scss";
@import "../styleguide/sass/41-organisms/collection/_collection.scss";
@import "../styleguide/sass/41-organisms/header/_header.scss";
@import "../styleguide/sass/41-organisms/help-block/_help-block.scss";
@import "../styleguide/sass/41-organisms/filter/_filter.scss";
@import "../styleguide/sass/41-organisms/programme/_programme.scss";
@import "../styleguide/sass/41-organisms/related-box/_related-box.scss";
@import "../styleguide/sass/41-organisms/search-block/_search-block.scss";
@import "../styleguide/sass/41-organisms/summary-box/_summary-box.scss";
@import "../styleguide/sass/41-organisms/theme-footer/_theme-footer.scss";
@import "../styleguide/sass/41-organisms/timeline/_timeline.scss";
@import "../styleguide/sass/41-organisms/form/_form.scss";
@import "../styleguide/sass/41-organisms/image-collections/_image-collections.scss";
@import "../styleguide/sass/41-organisms/opening-hours-accordion/_opening-hours-accordion.scss";
@import "../styleguide/sass/41-organisms/footer/css/_disclaimer-block.scss";
@import "../styleguide/sass/41-organisms/footer/css/_gentinfo_island.scss";
@import "../styleguide/sass/41-organisms/footer/css/_partnership-block.scss";
@import "../styleguide/sass/41-organisms/footer/css/_post-address-block.scss";
@import "../styleguide/sass/41-organisms/footer/css/_social-media-block.scss";
@import "../styleguide/sass/41-organisms/image-collections/image-wall/_image-wall.scss";
@import "../styleguide/sass/41-organisms/image-collections/image-gallery/_image-gallery.scss";
// endinject

// inject:layouts
@import "../styleguide/sass/61-layouts/_layouts.scss";
@import "../styleguide/sass/61-layouts/detail-layout/_detail-layout.scss";
@import "../styleguide/sass/61-layouts/overview-layout/_overview-layout.scss";
@import "../styleguide/sass/61-layouts/sidebar-layout/_sidebar-layout.scss";
// endinject

@import "molecules/teaser-search";
@import "organisms/header";

/*
 webfontLoader classes
 to prevent font flashing
*/
html.wf-loading {
  .container {
    opacity: 0;
  }
}

html.wf-active {
  .container {
    transition: .1s opacity ease-in;
    opacity: 1;
  }
}

/*
  Styleguide fixes
 */

// strange scrollbars behind the open modal
.checkbox-filter__modal {
  overflow: hidden;
}

// IE issue: content overflows modal-inner
@media all and (min-width: 769px) {
  .modal--fixed-height .modal-inner {
    height: 80vh;
  }
}

// modal actions are not on the bottom on mobile
// mainly an issue in safari where the safari-menu hides the button
.modal--fixed-height .modal-inner {
  .modal-content {
    flex: 1;
    margin-bottom: 3.8rem;
  }

  .modal-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: -3.8rem;

    @include tablet {
      position: relative;
    }
  }
}
