@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-settings/_reset.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-settings/_vars.scss";

$styleguide-dir: '..';

@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-mixins/breakpoints/_breakpoints.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-mixins/general/_mixins.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-mixins/grid/_responsive-utilities.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-mixins/svg/_svg-icons.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-mixins/themify/_themify.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/00-settings/_colors.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/base/_base.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/base/_helper-classes.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/base/_invisible.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/containers/_containers.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/fonts/_fonts.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/fonts/_icons.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/forms/_forms.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/grid/_grid.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/11-base/section/_section.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/button/_button.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/button/css/_button-alert.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/button/css/_button-dark.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/button/css/_button-primary.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/button/css/_button-secondary.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/button/css/_button-success.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/field-description/_field-description.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/field-message/_field-message.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/fieldset/_fieldset.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/figcaption/_figcaption.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/heading/_heading.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/heading/css/_collection-title.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/heading/css/_heading-1.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/heading/css/_heading-2.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/heading/css/_heading-3.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/heading/css/_heading-4.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/heading/css/_overview-title.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/image/_image.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-date/_input-date.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-email/_input-email.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-multiselect-tagging/_input-multiselect-tagging.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-multiselect/_input-multiselect.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-number/_input-number.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-password/_input-password.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-search/_input-search.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-select/_input-select.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-submit/_input-submit.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-tel/_input-tel.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-text/_input-text.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-textarea/_input-textarea.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/inputs/input-url/_input-url.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/label/_label.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/link/_link.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/list/_list.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/logo/_logo.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/paragraph/_paragraph.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/21-atoms/tag/_tag.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/accordion/_accordion.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/blocks/disclaimer-block/_disclaimer-block.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/blocks/partnership-block/_partnership-block.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/blocks/post-address-block/_post-address-block.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/blocks/social-media-block/_social-media-block.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/breadcrumbs/_breadcrumbs.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/cta-link/_cta-link.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/fields/checkbox/_checkbox.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/fields/radio/_radio.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/figure/_figure.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/form-actions/_form-actions.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/form-steps/_form-steps.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/hamburger-menu/_hamburger-menu.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/islands/gentinfo-island/_gentinfo_island.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/islands/island/_island.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/islands/map-island/_map-island.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/mijn-gent-block/_mijn-gent-block.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/pagination/_pagination.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/quote/_quote.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/readspeaker-button/_readspeaker-button.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/search/_search.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/status-message/_status-message.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/teasers/teaser-article/_teaser-article.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/teasers/teaser-topic/_teaser-topic.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/teasers/teaser.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/31-molecules/video/_video.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/collection/_collection.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/document-box/_document-box.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/extra-articles/_extra-articles.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/feedback-form/_feedback-form.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/footer/_footer.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/header/_header.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/help-block/_help-block.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/image-gallery/_image-gallery.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/info-box/_info-box.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/inline-form-groups/_inline-form-groups.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/inline-form-groups/address/_address.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/related-box/_related-box.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/search-block/_search-block.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/41-organisms/timeline/_timeline.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/61-layouts/general/detail-layout/_detail-layout.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/61-layouts/general/overview-layout/_overview-layout.scss";
@import "@/node_modules/gent_styleguide/build/styleguide/sass/71-pages/forms/form-with-steps/_form-with-steps.scss";
