$styleguide-dir: '../../node_modules/gent_styleguide/build/styleguide' !default;
@import '../../node_modules/gent_styleguide/build/styleguide/sass/main_cli';

/*
 Styleguide unreleased
 */

/*
 webfontLoader classes
 to prevent font flashing
*/
html.wf-loading {
  .container {
    opacity: 0;
  }
}

html.wf-active {
  .container {
    transition: .1s opacity ease-in;
    opacity: 1;
  }
}

// system pages
@include desktop {
  .detail-layout > .help-block > .highlight__inner {
    padding-left: 0;
  }
}
