$styleguide-dir: '../styleguide';

@import "~gent_styleguide/build/styleguide/sass/main_cli";

/*
 webfontLoader classes
 to prevent font flashing
*/
html.wf-loading {
  .container {
    opacity: 0;
  }
}

html.wf-active {
  .container {
    transition: .1s opacity ease-in;
    opacity: 1;
  }
}

/*
  Styleguide fixes
 */
.sidebar-layout .modal {
  max-height: none;
}

.modal.modal--fixed-height > .modal-inner > .modal-actions {
  height: 3.8rem;
}
