$styleguide-dir: '../styleguide';

@import "~gent_styleguide/build/styleguide/sass/main_cli";

@import "organisms/header";

/*
 webfontLoader classes
 to prevent font flashing
*/
html.wf-loading {
  .container {
    opacity: 0;
  }
}

html.wf-active {
  .container {
    transition: .1s opacity ease-in;
    opacity: 1;
  }
}

/*
  Styleguide fixes
 */

/**
  Needed for smooths scrolling on iphone / ipad inside modals.
  Placing it on .modal is not sufficient for safari.
 */
body {
  -webkit-overflow-scrolling: touch;
}

.modal {
  -webkit-overflow-scrolling: touch;
}

// Filter modal should cover the screen when opened
.filter-section.modal {
  .modal-inner {
    margin: 0;
    padding: 0;
  }
}

.modal {
  animation: fade .2s ease-in-out;

  .modal-inner {
    opacity: 0;
    animation: fade .2s ease-in-out forwards;
    animation-delay: .2s;
  }
}

.modal.sidebar {
  .modal-inner {
    animation-delay: unset;
  }

  @include desktop {
    animation: none;

    .modal-inner {
      opacity: 1;
      animation: none;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// modal actions are not on the bottom on mobile
// mainly an issue in safari where the safari-menu hides the button
.modal--fixed-height .modal-inner {
  .modal-content {
    margin-bottom: 3.8rem;
  }

  .modal-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: -3.8rem;

    @include tablet {
      position: relative;
    }
  }
}
